<div class="main-container">
  <div class="form-inline spreaded">
    <h1><%= @task.title %></h1>
    <div class="btn btn-default">
      <i class="fas fa-edit"></i>
      <%= link_to "UPDATE THIS TASK",  edit_task_path  %>
    </div>
  </div>

  <div class='task'>
    <h2><%= @task.details %></h2>
  </div>

  <div class="message">
    <% if @task.completed %>
      <div class="form-inline">
        <i class="far fa-check-square"></i>
        <p>Task completed</p>
      </div>
    <% else %>
      <div class="form-inline">
        <i class="far fa-square"></i>
        <p> This task is not completed yet </p>
      </div>
    <% end %>
  </div>

  <%= link_to "Back to list", tasks_path %>
</div>
