<div class="main-container">
  <h1><%= @task.title %></h1>

  <%= link_to "UPDATE THIS TASK",  edit_task_path  %>

  <div class='task'>
    <h2><%= @task.details %></h2>
  </div>

  <div class="message">
    <% if @task.completed %>
      <div class="inline2">
        <i class="far fa-check-square"></i>
        <p>Task completed</p>
      </div>
    <% else %>
      <div class="inline2">
        <i class="far fa-square"></i>
        <p> This task is not completed yet </p>
      </div>
    <% end %>
  </div>

  <%= link_to "Back to list", tasks_path %>
</div>
