// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container {
  margin: 20px;
  padding: 20px;
}

.inline {
  display: flex;
}

.far {
  margin: 5px 20px 10px 20px;
}

.message {
  padding: 20px 0px;
  margin: 10px 0px;
}

.task {
  border-radius: 5px;
  padding: 20px;
  background: #8080801a;
  border: 1px solid #80808033;
}

.task h2{
  font-weight: normal;
}

.box{
  border-top: 1px solid gray;
  padding: 10px;
}

h1 {
  font-size: 40px;
}

.spreaded {
  justify-content: space-between;
}

.btn {
  margin: 10px 0px;
}
